/*@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Baloo 2', cursive;*/
    font-family: 'Baloo Paaji 2', cursive;
    /*font-family: 'Yantramanav', sans-serif;*/

}
.os-content {
    padding: 0 !important;
}
.user-panel {
    overflow: unset;
    white-space: nowrap;
    padding-bottom: 10px;
}
.user-panel .image {
    display: flex;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}
.user-panel img {
    width: 70px;
    height: auto;
    box-shadow: none !important;
}
.user-panel .info {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-panel .info a {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    /*font-family: 'Righteous', cursive;*/
    font-family: Segoe UI,Segoe UI Web,Segoe UI Symbol,Helvetica Neue,BBAlpha Sans,S60 Sans,Arial,sans-serif;
}
.user-panel .info a span {
    font-size: 36px;
    font-weight: 500;
    font-family: Segoe UI,Segoe UI Web,Segoe UI Symbol,Helvetica Neue,BBAlpha Sans,S60 Sans,Arial,sans-serif;
}
.nav-sidebar>.nav-item {
    margin-bottom: 0px;
}
[class*=sidebar-dark-] {
    background: #393f4e;
}

[class*=sidebar-dark-] .sidebar a {
    color: #ccc;
    padding: 10px 20px;
    border-radius: 0;
    transition: all ease .3s;
}

.nav-sidebar>.nav-item .nav-icon.fa-tachometer-alt {
    color: #17a2b8;
}

.nav-sidebar>.nav-item .nav-icon.fas.fa-chart-pie {
    color: #e98b1a;
}
.nav-sidebar>.nav-item .nav-icon.fas.fa-coins {
    color: #17b832;
}
.nav-sidebar>.nav-item .nav-icon.fas.fa-warehouse {
    color: #17a2b8;
}
.nav-sidebar>.nav-item .nav-icon.fas.fa-flag {
    color: #e98b1a;
}
.nav-sidebar>.nav-item .nav-icon {
    color: #ececec !important;
}
.nav-sidebar .nav-treeview>.nav-item>.nav-link>.nav-icon {
    transition: all ease .5s;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ececec;
    display: block;
    position: absolute;
    transition: all ease .5s;
    bottom: 0;
    left: 0;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover::after {
    width: 90%;
    left:  0;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    color: #fff;
    border-left: 4px solid #fff;
    border-radius: 0;
    background: #03436f00;

}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus .nav-icon, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover .nav-icon {
    color: #f15b50;
    transition: all ease .5s;
    margin-right: 10px;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: #06508200;
    margin-left: 15px;
    /*transition: all ease-in-out .8s;*/
}
.sidebar-collapse aside.main-sidebar .sidebar ul.nav.nav-pills.nav-sidebar .menu-open .nav.nav-treeview {
    margin-left: 0;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: rgb(255 255 255 / 3%);
    color: #fff;
    border-radius: 0;
}

[data-theme="light"] .main-header .navbar-nav .dropdown-menu a:hover {
    background: #252b3b;
    color: #fff;
    padding-left: 15px;
    transition: all ease .5s;
}

/*dark mode*/

[data-theme="dark"] .navbar-white {
    background-color: #f3f3f3;
}

[data-theme="dark"] .content-wrapper {
    background: #f3f3f3;
}

[data-theme="dark"] .grey {
    background: #ffffff !important;
    color: #464646 !important;
    transition: all ease .5s;
}

[data-theme="dark"] [class*=sidebar-dark-] .sidebar a {
    color: #333;
}

[data-theme="dark"] .main-header .navbar-nav .dropdown-menu a i {
    color: #696969;
    margin-right: 5px;
}

[data-theme="dark"] .nav-sidebar>.nav-item .nav-icon {
    color: #6c757d !important;
}

[data-theme="dark"] [class*=sidebar-dark-] {
    background: #ffffff;
}

[data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    color: #272727;
    border-left: 4px solid #696969;
    background: #6969690a;
}

[data-theme="dark"] [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #272727;
}

[data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: #a09e9e00;
}

[data-theme="dark"] .refresh_button.float-right button {
    background: #696969;
}

[data-theme="dark"] .content-header h1 {
    color: #696969 !important;
}

[data-theme="dark"] .org_div .card-body table thead {
    background: #686868;
    color: #fff;
}

[data-theme="dark"] .page-item.active .page-link {
    background: #696969;
    border: 1px solid #696969;
}

[data-theme="dark"] .card-header{
    background: #fff;
}

[data-theme="dark"] .card-header>.card-tools .btn.bg-info, [data-theme="dark"] .progress .progress-bar.bg-info {
    background-color: #6c757d!important;
    box-shadow: none;
}

/*[data-theme="dark"] .modal-dialog .modal-content .btn.btn-info {
    background: #848080;
}*/

[data-theme="dark"] .direct-chat table thead {
    background: #6c757d;
    color: #fff;
}

[data-theme="dark"] .btn-info {
    color: #fff;
    background: #686868;
}

[data-theme="dark"] .nav-tabs .nav-item.show .nav-link, [data-theme="dark"] .nav-tabs .nav-link.active{
    background: #686868;
}

[data-theme="dark"] .btn-info:not(:disabled):not(.disabled).active, [data-theme="dark"] .btn-info:not(:disabled):not(.disabled):active, [data-theme="dark"] .show>.btn-info.dropdown-toggle{
    background: #686868;
}

[data-theme="dark"] span.btn.btn-success {
    background: #7f7f7f !important;
}