/*media screen 767px*/

@media screen and (max-width:767px){
	.login-form .inner-form .left-side, .Signup-form .inner-form .left-side{
		display: none;
	}

	.forget-form .inner-form {
    	width: 80%;
    	margin: 0 auto;
	}
}