.content-header h1 {
    background: transparent;
    -webkit-text-fill-color: #383f4e;
}

/*staff management*/
.content-wrapper .nav-tabs li.nav-item {
    width: 33.33%;
}
.content-wrapper .nav-tabs li .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background: #ffffff;
    border-radius: 0;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
}
.content-wrapper .nav-tabs li .nav-link.active {
    border-bottom: 2px solid #296df4;
    background: #296df4;
    color: #fff;
}
.content-wrapper .content-header a {
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
    margin: 0 0 0 10px;
}

.content-wrapper .content-header a i {
    color: #296df4;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}

.content-wrapper .content-header button {
    border-radius: 0;
    padding: 15px;
    background: #383f4e;
    color: #fff;
    border: 0;
    box-shadow: none;
}

.content-wrapper .content-header .dropdown button span, .content .overall_report button span {
    margin: 0 10px 0 0px;
}

.content-wrapper .content-header .dropdown .dropdown-menu.show, .content .overall_report.dropdown .dropdown-menu.show {
    border-radius: 0;
    min-width: 22%;
    padding: 0;
}

.content-wrapper .content-header .dropdown .dropdown-menu.show li a, .content .overall_report.dropdown .dropdown-menu.show li a {
    color: #383f4e;
    width: 100%;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
}

.content-wrapper .content-header .dropdown .dropdown-menu.show li:hover a, .content .overall_report.dropdown .dropdown-menu.show li:hover a {
    background: #f2f2f2;
    /*margin: 0;*/
}

.content-wrapper .content-header .add_acc_row {
    border: 1px solid #e98b1a;
    background: #fffce3;
    padding: 15px 10px;
}

.content-wrapper .content-header .add_acc_row .mising_acc_details p {
    margin-bottom: 0;
    letter-spacing: .3px;
}

.content-wrapper .content-header .add_acc_row .mising_acc_details p i {
    color: #e98b1a;
    margin-right: 10px;
}

.content-wrapper .content-header .add_acc_row .mising_acc_link a {
    font-weight: 500;
}

.content-wrapper .content .pending_balance h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.content-wrapper .content .overall_report button {
    background: transparent;
    border: 1px solid #296df4;
    border-radius: 0;
    color: #296df4;
    padding: 15px 20px;
    font-size: 18px;
    margin: 0 0 0 10px;
    box-shadow: none;
}

.has-search{
  margin-bottom: 0;
}

.has-search .form-control {
    border-radius: 0;
    padding: 0;
    padding-left: 2.375rem;
}

.content-wrapper .content .has-search .form-control::placeholder {
    font-size: 18px;
}

.content-wrapper .content .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.content-wrapper .content .card .card-body .row {
    display: flex;
    align-items: center;
}
.content-wrapper .content .card .card-body .monthly_value p {
    margin-bottom: 0;
    color: #383838;
    font-size: 16px;
    font-weight: 500;
}
.content-wrapper .content .card .card-body .monthly_value button {
    box-shadow: none;
    background: #f0f9ff;
    color: #0055ff;
    font-weight: 500;
    padding: 15px;
    width: 100%;
}
.content-wrapper .content h5 {
    font-size: 24px;
    margin-bottom: 20px;
}
.content-wrapper .content h5 a {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 300;
}
.content-wrapper .content h5 span {
    background: #ccc;
    height: 20px;
    width: 20px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 35%;
    margin-left: 5px;
}
.content-wrapper .content .card .card-body h4 {
    margin-bottom: 0;
    font-size: 22px;
}
.content-wrapper .content .card .card-body p {
    margin-bottom: 0;
}
.content-wrapper .content .card .card-body h4 span {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 400;
}
.content-wrapper .content .card .card-body .add_button .btn {
    border-radius: 0;
    padding: 10px 20px;
    font-size: 14px;
}
.content-wrapper .content .card .card-body .add_button .btn i {
    font-size: 18px;
    margin-right: 5px;
}
.content-wrapper .content .card .card-body .staff_addition_form {
    width: 85%;
    margin: 0 auto;
}
.content-wrapper .content .card .card-body .staff_addition_form .form-group label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
}
.content-wrapper .content .card .card-body .staff_addition_form span a {
    background: #f0f9ff;
    padding: 5px 15px;
    color: #f43c29;
    border-radius: 5px;
}
.content-wrapper .content .card .card-body .staff_addition_form .form-group .form-control {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 15px;
    position: relative;
}
.content-wrapper .content .card .card-body .staff_addition_form .form-group .form-control::placeholder {
    font-size: 14px;
}

.content-wrapper .content .card .card-body .staff_addition_form .form-group .form-control {
    padding: 6px 40px;
}

.content-wrapper .content .card .card-body .staff_addition_form .form-group .form-control {
    padding: 5px;
}

.content-wrapper .content .card .card-body .staff_addition_form .form-group .form-control:focus {
    outline: 0;
}

.content-wrapper .content .card .card-body .staff_addition_form .form-group span {
    font-size: 14px;
}

.content-wrapper .content .card .card-body .staff_addition_form .form-group span a {
    color: #707071;
}

.content-wrapper .content .card .card-body .staff_addition_form .form-group select {
    font-size: 14px;
}

.profile_popup .modal-content {
    padding: 15px;
}
.profile_popup .modal-content .modal-header {
    border: 0;
    padding-bottom: 0;
}
.profile_popup .modal-content .modal-header .modal-title i {
    font-size: 18px;
    margin-right: 15px;
}
.profile_popup .modal-content .modal-header .modal-title {
    font-size: 20px;
    font-weight: 500;
}
.profile_popup .modal-content .modal-body form .form-group label {
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.profile_popup .modal-content .modal-body form .form-group .form-control {
    background: none;
    border-radius: 0;
}
.profile_popup .modal-content .modal-body form .form-group .form-control:focus{
    box-shadow: none;
}
/*.profile_popup .modal-content .modal-body form .form-group label a {
    position: absolute;
    top: 30px;
    right: 15px;
}*/
.profile_popup .modal-content .modal-body form .form-group button.btn {
    background: #0155ff;
    color: #fff;
    box-shadow: none;
}
.profile_popup .modal-content .modal-body form .form-group button.exit {
    background: none;
    border: 1px solid #0155ff;
    color: #0155ff;
    font-weight: 500;
}
.profile_popup .modal-dialog .modal-content .modal-body form label.xyz {
    background: #f0f9ff;
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border: 1px solid #a0d9ff;
    color: #000;
    font-weight: 500;
}
.profile_popup .modal-dialog .modal-content .modal-body form label.xyz input[type="radio"] {
    vertical-align: middle;
    margin-right: 5px;
    width: 10%;
}
.profile_popup .modal-content .modal-body form .form-group label input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}
.profile_popup .modal-content .modal-body form .form-group {
    margin-bottom: 10px;
}
.profile_popup .modal-content .modal-body .notes-overview {
    background: #e2e2e2;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
}
.profile_popup .modal-content .modal-body .notes-overview p {
    font-size: 14px;
    margin-bottom: 0;
    color: #233dfb;
}

.profile_popup .modal-content .modal-body .notes-overview span {
    font-size: 14px;
    font-weight: 500;
}

.profile_popup .modal-content .modal-body a {
    font-size: 14px;
}
.profile_popup .modal-content .modal-body a i {
    margin-right: 5px;
}
.profile_popup .modal-content .modal-body .pro-license {
    padding: 15px;
    background: #f3f3f3;
    margin: 0;
}
.profile_popup .modal-content .modal-body .pro-license .activate {
    background: #ccc;
    border-radius: 50px;
    display: inline-block;
    padding: 5px 15px;
}
.profile_popup .modal-content .modal-body .pro-license p {
    margin: 10px 5px;
    font-size: 14px;
}
.profile_popup .modal-content .modal-body .pro-license p i {
    font-size: 20px;
    color: #8a908f;
    margin-right: 10px;
    vertical-align: middle;
}
.profile_popup .modal-content .modal-body .transfer-inner {
    border: 1px solid #ccc;
    padding: 50px 0;
    border-radius: 15px;
}
.profile_popup .modal-content .modal-body .transfer-inner i {
    color: #ffffff;
    background: #333;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.profile_popup .modal-content .modal-body .transfer-inner h6 {
    font-weight: 500;
    margin-bottom: 5px;
}
.profile_popup .modal-content .modal-body .transfer-inner span {
    margin-bottom: 10px;
    display: block;
}
.content-wrapper .content .card .card-body .table tbody .dropdown ul.dropdown-menu.show {
    padding: 0;
}
.content-wrapper .content .card .card-body .table tbody .dropdown ul.dropdown-menu.show li {
    padding: 10px;
}
.content-wrapper .content .card .card-body .table tbody .dropdown ul.dropdown-menu.show li a {
    color: #383f4e;
}
.content-wrapper .content .card .card-body .table tbody .dropdown ul.dropdown-menu.show li:hover {
    background: #f9f9f9;
}
.content-wrapper .content .card .card-body i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    padding: 0;
}
.content-wrapper .content .card .card-body .call-on {
    color: #1eb51e;
}
.content-wrapper .content .card .card-body i.red{
    color: red;
}
.content-wrapper .content .card .card-body i.orange{
    color: orange;
}
.content-wrapper .content .card .card-body .row .table tbody tr td span{
    text-decoration: line-through;
}
.content-wrapper .content .card .card-body .tab-content #home {
    background: #f9f9f9;
}
.content-wrapper .content .card .card-body .tab-content #home .call-history ul {
    margin: 0px;
}
.content-wrapper .content .card .card-body .tab-content #home .call-history ul li {
    background: #383f4e;
    padding: 15px;
    margin: 0 15px;
}
.content-wrapper .content .card .card-body .tab-content #home .call-history ul li a {
    color: #fff;
    font-weight: 500;
    width: 100%;
    display: block;
    padding: 0;
}
.content-wrapper .content .card .card-body .tab-content #menu1 {
    width: 70%;
}
.content-wrapper .content .card .card-body .table tbody .accordion h5 {
    margin-bottom: 0;
    font-size: 16px;
}
.content-wrapper .content .card .card-body .table tbody .accordion p {
    font-size: 14px;
}
.content-wrapper .content .card .card-body .table tbody .accordion a {
    color: #fff;
    font-weight: 500;
    background: #383f4e;
    width: 65%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}