@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.row
{
  margin: 5px;
}
.tile
{
  width: 25%;
  height: 170px;
  padding: 1%;
}
.data_tile
{
  width: 90%;
  height: 55%;
  padding: 5%;
  align-content: center;
  color: #ffffff;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px -2px #7a7a7a;
}
.data_tile:hover
{
  box-sizing: border-box;
  box-shadow: 5px 5px 12px 1px #7a7a7a;
  transition: .5s;
}
.data_tile h6
{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #000;
}
.data_tile h5
{
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.chart_div
{
  background: #ffffff;
  margin: 2%;
  height: 200;
  width: 46%;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px -2px #7a7a7a;
}
.chart_div h6
{
  margin: 2%;
  font-size: 0.9rem;
  font-weight: bold;
}
.chart_div2
{
  background: #ffffff;
  margin: 0% 2%;
  height: 200;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px -2px #7a7a7a;
}
.chart_div2 h6
{
  margin: 2%;
  font-size: 0.9rem;
  font-weight: bold;
}
.reports_div
{
  padding: 1% 0%;
  margin: 0% 2%;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px -2px #7a7a7a;
  overflow: auto
}
.reports_div table thead
{
  background: #0070d2;
  color: #ffffff;
  font-weight: bold;
}
.pagination
{
  border: none;
  color: #000;
  padding: 5px;
  font-size: 16px;
}
.data_div
{
  margin: 2% 0%;
  padding: 1% 0%;
  background: #ffffff;
  width: 95%;
  /* height: 100%; */
  box-sizing: border-box;
  box-shadow: 1px 1px 10px -2px #7a7a7a;
  overflow: auto;
}
.table
{
  border: none;
  padding: 0;
  font-size: 12px;
}
.thead-primary
{
  background: #0070d2;
  color: #ffffff;
}
.test
{
  color: #0070d2;
  padding: 0px 15px;
  font-size: 16px;
  border: 1px solid #0070d2;
  border-radius: 5px;
}
.test:hover
{
  color: #ffffff;
  background: #0070d2;
}
@media screen and (max-width: 1050px)
{
  .tile
  {
    margin: -10px 20px;
    padding: 0;
  }
  .data_tile
  {
    width: 200px;
    padding: 5%;
  }
}
@media screen and (max-width: 950px)
{
  .tile
  {
    margin: -10px 40px;
    padding: 0;
  }
  .data_tile
  {
    width: 200px;
    padding: 5%;
  }
}
@media screen and (max-width: 750px)
{
  .tile
  {
    margin: -10px 60px;
    padding: 0;
  }
  .data_tile
  {
    width: 200px;
    padding: 5%;
  }
}
@media screen and (max-width: 500px)
{
  .tile
  {
    margin: -10px 110px 0 -10px;
    padding: 0;
  }
  .data_tile
  {
    width: 200px;
    padding: 5%;
  }
}
  @media screen and (max-width: 280px)
  {
    .tile
    {
      margin: -10px 100px 0 -10px;
      padding: 0;
    }
    .data_tile
    {
      width: 200px;
      padding: 5%;
    }
}
/* The Modal (background) */
.essential_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin-top: 46px;
  margin-left: 127px;
}

.sales_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin-top: 114px;
  margin-left: 127px;
}

.inventory_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin-top: 187px;
  margin-left: 127px;
}

.report_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin-top: 242px;
  margin-left: 127px;
}

.login_modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 22;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 40%;
  height: 50%;
  overflow: auto;
  margin-top: -65px;
  margin-left: 749px;
}

.logout_modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 22;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 40%;
  height: 50%;
  overflow: auto;
  margin-top: -65px;
  margin-left: 749px;
}

/* Modal Content */
.modal-content {
  background-color: #d9dbdc99;
  margin: auto;
  padding: 20px;
  border: 1px solid #dee2e6;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.next_f
{
  width: fit-content;
  margin-left: 80px;
  margin-top: -37px;
}
.msg_text
{
  font-weight: 600;
}
