@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Poppins', sans-serif;
}
.wave
{
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.container
{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.container2
{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.image
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.image img
{
  width: 500px;
}
.login-container
{
  display: flex;
  align-items: center;
  text-align: center;
}
.details-container
{
  display: flex;
  align-items: center;
  text-align: center;
}
.signup-container
{
  display: none;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  position: relative;
  padding: 20px;
  border: none;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.close
{
  color: #aaaaaa;
  float: right;
  width: 2%;
  font-size: 20px;
}
.close:hover,
.close:focus
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.form
{
  width: 100%;
}
.form2
{
  width: 100%;
  position: relative;
}
.avatar
{
  width: 100px;
}
.signinimg
{
  width: 150px;
  margin: 5% 40%;
}
.verify_img
{
  width: 200px;
}
.form h2
{
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #333;
}
.form2 h2
{
  font-size: 2.9rem;
  margin: 5% 0%;
  color: #333;
}
.form h3
{
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #333;
}
.input
{
  position: relative;
  top: 0;
  left: 0;
  height: 40px;
  border-radius: 15px;
  background: transparent;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #555;
}
.input_margin
{
  margin-top: 3%;
}
.a
{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}
.a:hover
{
  color: #0070d2;
}
.a2
{
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}
.a2:hover
{
  color: #0070d2;
}
.span
{
  color: #999;
  font-size: 0.9rem;
}
.btn
{
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #0070d2 ,#57a3e6 ,#0070d2);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: .5s;
}
.btn:hover
{
  background-position: right;
}
.btn1
{
  display: block;
  width: 100%;
  height: 40px;
  margin: 1rem 0;
  border-radius: 15px;
  background-image: linear-gradient(to right, #b3cbff ,#bfc8db ,#b3cbff);
  cursor: pointer;
  color: #0070d2;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: .5s;
}
.btn1:hover
{
  background-position: right;
  color: #0070d2;
}
.btn2
{
  display: block;
  width: 50%;
  height: 50px;
  border-radius: 15px;
  font-size: 1.2rem;
  outline: none;
  margin: 10% 20%;
  border: none;
  background-image: linear-gradient(to right, #0070d2 ,#57a3e6 ,#0070d2);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: .5s;
}
.btn2:hover
{
  background-position: right;
}
.message
{
  width: 100%;
  height: 40px;
}
.match
{
  visibility: hidden;
	color:red;
}
@media screen and (max-width: 1050px)
{
  .container
  {
    grid-gap: 5rem;
  }
}
@media screen and (max-width: 1000px)
{
  .form
  {
    width: 100%;
  }
  .form h2
  {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .image img
  {
    width: 400px;
  }
  .signup-container
  {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 900px)
{
  .image
  {
    display: none;
  }
  .container
  {
    grid-template-columns: 1fr;
  }
  .wave
  {
    display: none;
  }
  .login-container
  {
    justify-content: center;
  }
  .signup-container
  {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 700px)
{
  .signup-container
  {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 525px)
{
  .signup-container
  {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
