.main-header .navbar-nav .nav-link .fas.fa-bars {
    color: #3e3e3e;
    font-size: 24px;
}
.main-header .navbar-nav .dropdown:hover>.dropdown-menu {
  display: block;
}

.main-header .navbar-nav .dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.main-header .navbar-nav .dropdown-menu {
    position: absolute;
    top: 35px;
    border-radius: 0;
    padding: 0;
}
.main-header .navbar-nav .dropdown-menu a {
    padding: 10px 15px;
    transition: all ease .5s;
    color: #252b3b;
}
.main-header .navbar-nav .dropdown-menu .dropdown-divider {
    margin: 0;
}
.main-header .navbar-nav .dropdown-menu p {
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}
.main-header .navbar-nav .dropdown-menu a:hover {
    background: #fe7383;
    color: #fff;
    padding-left: 15px;
    transition: all ease .5s;
    border-radius: 0;
}
.main-header .navbar-nav .dropdown-menu a i {
    color: #284255;
    margin-right: 5px;
    vertical-align: middle;
}
.main-header .navbar-nav .dropdown-menu a:hover i {
    color: #f3f3f3;
}
.form .input-group-append button {
	position: absolute;
	z-index: 9;
	right: 5px;
	font-size: 18px;
	background: #909090;
	color: #fff;
}
.form .input-group-append button i{
    vertical-align: middle;
}
.modal-dialog .modal-content .modal-body table thead tr {
	height: 40px;
	font-size: 14px;
}
label {
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: .5px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter label{
    text-align: right !important;
}
.form-control {
    border-radius: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    background: #f7f7f7;
    width: calc(100% + 0px);
}
.form-control:focus{
    box-shadow: none;
    outline: 0;
}
/*.content-header .first-one .form-control {
    border-radius: 0;
    width: 70%;
    display: block;
    padding: 0 15px;
}*/
.refresh_button.float-right button, .refresh_button.float-right a {
    border-radius: 0;
    padding: 5px 20px;
}
.dropdown.staff-button button {
    border-radius: 0;
    padding: 10px 20px;
    background: #284255;
    color: #fff;
    border: 0;
    box-shadow: none;
}
header {
    background: #fe7383;
    position: fixed;
    z-index: 1111;
    width: 100%;
}
header p {
    text-align: center;
    margin: 0;
    color: #fff;
    padding: 5px 0;
}
header p a {
    color: #ffcc6a;
    font-weight: 500;
}
header p a:hover {
    color: #284255;
}