@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
.os-content {
    padding: 0 !important;
}

.user-panel {
    overflow: unset;
    white-space: nowrap;
    padding-bottom: 10px;
}
.user-panel .image {
    display: flex;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}
.user-panel img {
    width: 70px;
    height: auto;
    box-shadow: none !important;
}
.user-panel .info {
    padding: 20px 0;
/*    display: flex;*/
    justify-content: center;
    align-items: center;
}
.user-panel .info a {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: Segoe UI,Segoe UI Web,Segoe UI Symbol,Helvetica Neue,BBAlpha Sans,S60 Sans,Arial,sans-serif;
    font-weight: 500;
    padding: 0 !important;
}
.user-panel .info a span {
    font-size: 36px;
    font-weight: 500;
    font-family: Segoe UI,Segoe UI Web,Segoe UI Symbol,Helvetica Neue,BBAlpha Sans,S60 Sans,Arial,sans-serif;
}
.nav-sidebar>.nav-item {
    margin-bottom: 5px;
}

/* nave bar icon color.. */
.icn-home {
	color:#00bfc3;
}
.icn-act {
	color:#c188ee;
}
.icn-cust {
	color:#fe9c72;
}
.icn-sales {
	color:#0ac483;
}
.icn-follow-up {
	color:#0e8df2;
}
.icn-inventory {
	color:#f07c8a;
}
.icn-marketing {
	color:#66bc10;
}
.icn-reports {
	color:#b662b6;
}
.icn-setting {
	color:#00afb2;
}

/* Sub icon color */
.sub-icn-cust {
	color:#feb798b8;
}
.sub-icn-contact {
	color:#f4d1a7e0;
}
.sub-icn-duplicate {
	color:#f6e6d2a8
}
.sub-icn-lead {
	color:#63aedb;
}
.sub-icn-opp {
	color:#09bc7d;
}
.sub-icn-quote {
	color:#64b00cd4;
}
.sub-icn-so {
	color:#cf0df0;
}
.sub-icn-invoice {
	color:#06aeb0;
}
.sub-icn-pi {
	color:#fa9206;
}
.sub-icn-task {
	color:#a7ccf0;
}
.sub-icn-meeting {
	color:#1fa1db;
}
.sub-icn-call {
	color:#3bb0bf;
}
.sub-icn-product {
	color:#d985dd;
}
.sub-icn-vendor {
	color:#03a9f4b5;
}
.sub-icn-po {
	color:#007bff;
}
.sub-icn-email {
	color:#89b48b;
}
.sub-icn-sentemail {
	color:#cfc2b2;
}
.sub-icn-reports {
	color:#f8d7aa;
}
.sub-icn-forecast {
	color:#59ba9a;
}
.sub-icn-target {
	color:#b19ac7;
}
.sub-icn-rolles {
	color:#bfa98f;
}
.sub-icn-gst {
	color:#55999c;
}
.sub-icn-integration {
	color:#ba7aba;
}
.sub-icn-workflow {
	color:#cbb5cb;
}
.sub-icn-frefixid {
	color:#aa7272;
}


/*slider switch css */




.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 100%;
    top: -10px;
    margin: 0;
}

.theme-switch input {
  display:none;
}

.sliderr {
    background-color: #eaeaea;
    bottom: -10px;
    cursor: pointer;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 10px;
    transition: .6s;
}

.sliderr:before {
    background-color: #284255;
    bottom: 0px;
    content: "";
    height: 20px;
    left: 0px;
    position: absolute;
    transition: .6s;
    width: 20px;
}

input:checked + .sliderr {
    background-color: #eaeaea;
}

input:checked + .sliderr:before {
    transform: translateX(143px);
    background-color: #fe5d70;
}

.sliderr.round {
  border-radius: 34px;
}

.sliderr.round:before {
  border-radius: 50%;
}


/*dark- light*/

[class*=sidebar-dark-] {
    background: #284255;
}

[class*=sidebar-dark-] .sidebar a {
    color: #fff;
   /* padding: 15px 20px;*/
    border-radius: 0;
    transition: all ease .3s;
}

.nav-sidebar .nav-treeview>.nav-item>.nav-link>.nav-icon {
    transition: all ease .5s;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ececec;
    display: block;
    position: absolute;
    transition: all ease .5s;
    bottom: 0;
    left: 0;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover::after {
    width: 90%;
    left:  0;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    color: #fff;
    border-left: 4px solid #fff;
    border-radius: 0;
    background: #03436f00;

}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus .nav-icon, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover .nav-icon {
    color: #f15b50;
    transition: all ease .5s;
    margin-right: 10px;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: #06508200;
    margin-left: 15px;
    /*transition: all ease-in-out .8s;*/
}
.sidebar-collapse aside.main-sidebar .sidebar ul.nav.nav-pills.nav-sidebar .menu-open .nav.nav-treeview {
    margin-left: 15px;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: rgb(255 255 255 / 3%);
    color: #fff;
    border-radius: 0;
}

.overflowclass{
	overflow-y:scroll;
	overflow-x:hidden;
	/*height:400px;*/
	height: auto;
    padding: 5px;
}

[data-theme="light"] .main-header .navbar-nav .dropdown-menu a:hover {
    background: #252b3b;
    color: #fff;
    padding-left: 15px;
    transition: all ease .5s;
}

[data-theme="light"] .card-header>.card-tools .btn.bg-info {
    background: #284255 !important;
}

/*dark mode*/

[data-theme="dark"] .navbar-white {
    background-color: #fff;
}

[data-theme="dark"] .content-wrapper {
    background: #fff;
}

[data-theme="dark"] .grey {
    /*background: #ffffff !important;*/
    /*color: #464646 !important;*/
    transition: all ease .5s;
    /*border-left: 3px solid #1698eb;*/
    border-radius: 0px;
}

[data-theme="dark"] [class*=sidebar-dark-] .sidebar a {
    color: #333;
}

[data-theme="dark"] [class*=sidebar-dark-] .sidebar a.nav-link.activeli {
    background: #f9f9f9;
}

[data-theme="dark"] .main-header .navbar-nav .dropdown-menu a i {
    color: #252b3b;
    margin-right: 5px;
}

[data-theme="dark"] .nav-sidebar>.nav-item .nav-icon {
    /*color: #6c757d !important;*/
}

[data-theme="dark"] [class*=sidebar-dark-] {
    background: #ffffff;
}

[data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    color: #272727;
    border-left: 4px solid #fe7383;
    background: #6969690a;
}

[data-theme="dark"] [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #272727;
}

[data-theme="dark"] [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: #a09e9e00;
}

[data-theme="dark"] .refresh_button.float-right button {
    background: #fe7383;
    border: 1px solid #fe7383;
}

[data-theme="dark"] .content-header h1 {
    color: #333 !important;
}

[data-theme="dark"] .org_div .card-body table thead {
    background: #fe7383;
    color: #fff;
}

[data-theme="dark"] .page-item.active .page-link {
    background: #fe7383;
    border: 1px solid #fe7383;
}

/*[data-theme="dark"] .card-header{
    background: #fff;
}*/

[data-theme="dark"] .card-header>.card-tools .btn.bg-info, [data-theme="dark"] .progress .progress-bar.bg-info {
    background-color: #fe7383 !important;
    box-shadow: none;
}

/*[data-theme="dark"] .modal-dialog .modal-content .btn.btn-info {
    background: #848080;
}*/

[data-theme="dark"] table thead {
    background: #fe7383;
    color: #fff;
}

[data-theme="dark"] .btn-info {
    color: #fff;
    background: #fe7383;
    border: 1px solid #fe7383;
}

[data-theme="dark"] .btn-info:hover{
    background: #fe7383;
    border: 1px solid #fe7383;
}

[data-theme="dark"] .nav-tabs .nav-item.show .nav-link, [data-theme="dark"] .nav-tabs .nav-link.active{
    background: #fe7383;
}

[data-theme="dark"] .btn-info:not(:disabled):not(.disabled).active, [data-theme="dark"] .btn-info:not(:disabled):not(.disabled):active, [data-theme="dark"] .show>.btn-info.dropdown-toggle{
    background: #fe7383;
    border-color: #fe7383;
}

/*[data-theme="dark"] span.btn.btn-success {
    background: #7f7f7f !important;
}*/

[data-theme="dark"] span.btn.btn-success {
    background: #28a745 !important;
}

[data-theme="dark"] .content-wrapper .content .licence_table .nav-tabs li a{
    background: #fe7383;
}

[data-theme="dark"] .dropdown.staff-button button {
    background: #fe7383;
}

[data-theme="dark"] .contact_details .save-btn button {
    background: #fe7383;
    border: 1px solid #fe7383;
}